@media (width <= 1280px) {
	header {
		padding: 24px 32px;
	}
	.section-content {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		padding: 40px;
	}
	.questions ul {
		width: 98%;
	}
	footer {
		padding: 5em 2.5em;
	}
}

@media (width <= 600px) {
	.form-field {
		flex-direction: column;
		padding: 0 20px;
		gap: 1em;
	}
	.input-box {
		height: 48px;
		flex: none;
		width: 100%;
	}
	.form-field button {
		height: 48px;
		font-size: 18px;
		width: fit-content;
		padding: 16px;
	}
}

@media (width <= 960px) {
	header div img {
		width: 91px;
	}
	.hero {
		height: 68vh;
	}
	.intro h1 {
		font-size: 2em;
	}
	.intro p {
		font-size: 18px;
	}
	form h3 {
		font-size: 18px;
		text-align: center;
	}
	.intro-container {
		top: 45%;
		transform: translateY(-30%);
	}
	.section-content {
		flex-direction: column;
		width: 100%;
	}
	.kids-section .section-content,
	.download .section-content {
		flex-direction: column-reverse;
		gap: 100px;
		padding: 1em 0;
	}
	.section-text {
		font-size: 2rem;
		flex: 1;
		width: 100%;
	}
	.section-text h2 {
		font-size: 1em;
		text-align: center;
	}
	.section-text p {
		font-size: 0.58em;
		text-align: center;
		width: 100%;
		padding: 0 20px;
	}
	.section-content img {
		width: 90%;
		flex: 1;
	}
	.everywhere {
		display: grid;
		place-items: center;
		padding: 4em 0 6em 0;
	}
	.everywhere .section-text {
		text-align: center;
		width: 100%;
	}
	.everywhere .section-text h2 {
		width: 100%;
	}
	.everywhere .section-text p {
		width: 100%;
	}
	.questions h2 {
		font-size: 2em;
	}
	.questions ul li h3 button {
		font-size: 18px;
	}
	.answer {
		font-size: 18px;
	}
	.footer-links {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 20px;
	}
	.answer-toggle {
		width: 1.5em;
		transition: 0.25s;
	}
	/* .kids{
		padding: 1em 0;
	} */
}
